.wrapperIntro {
	background:
		linear-gradient(179deg, rgba(33, 162, 255, 0) 9.54%, rgba(33, 162, 255, 0.15) 99.55%),
		linear-gradient(0deg, rgba(0, 20, 33, 0.99) 0%, rgba(0, 20, 33, 0.99) 100%),
		url("../../../assets/images/bg/bg_noise.jpg"),
		lightgray 50% / cover no-repeat;
		display: flex;
		justify-content: center;
}

.container {
	max-width: 1440px;
	padding: 140px 40px 40px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	width: 100%;

	@media (max-width: 560px) {
	padding: 140px 10px 40px 10px;
	}
}
